* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
  }
  
  header {
    background-color: #111;
    padding: 10px 20px;
  }
  
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    color: white;
  }
  
  .location {
    font-size: 14px;
    color: #ccc;
  }
  
  .menu {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    background-color: #161010;
    padding: 10px 0;

  }
  
  .menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .menu a:hover {
    text-decoration: underline;
  }
  
  .banner {
    margin: 20px auto;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 15px #ff0000aa;
  }
  
  .banner img {
    width: 100%;
    display: block;
  }

  